<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/planeicon.jpg">
        <script type='text/javascript' src ="/GroupProFunct.js"></script>
        <link href="/styles-evan.css" rel="stylesheet" type="text/css" /> <!-- css import sheet-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <title> Thank You Page  </title></head>
<body>
    <%- include('../components/header.ejs') %> 
    <p class="d centered3"> Thank you for your submission!! </p>
    <%- include('../components/footer.ejs') %> 
</body>
</html>
