<footer>
    <div class="logo-footer div-logo">            
        <img src="/media/green.jpg" alt="logo" >
        <p style="margin-left: 10px;">Travel Experts</p>
    </div>
    <p>&copy 2022 Travel Experts All rights reserved</p>
</footer>