<header>
    <div class="main-header">
        <a class="logo" href="/">
            <div class="div-logo">
                <img src="/media/green.jpg" alt="logo" >
                <h2 style="margin-left: 10px;">Travel Experts</h2>
            </div>
        </a>

        <button class="navbar-toggler nav-toggle" type="button" data-toggle="collapse" data-target="#navbar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40"><path fill-rule="evenodd" d="M4 7a1 1 0 100-2 1 1 0 000 2zm4.75-1.5a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zm0 6a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zm0 6a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zM5 12a1 1 0 11-2 0 1 1 0 012 0zm-1 7a1 1 0 100-2 1 1 0 000 2z"></path></svg>
        </button>
    </div>

    <nav class="navbar navbar-expand-md main-nav">
        <div class="collapse navbar-collapse justify-content-center" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-button" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-button" href="/vacation-packages">Vacation Packages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-button" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-button" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>